body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.input-group:nth-child(2) {
  margin-top: 1%;
}

.form-input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid grey;
  margin-top: 10px;
}

.form-submit {
  margin-top: 25px;
  padding: 6px 10px;
  background-color: rgb(4, 106, 223);
  width: 50%;
  margin-left: 25%;
  border: none;
  border-radius: 4px;
  color: white;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgb(4, 106, 223);
}